html
  - var title = `Micro-Manager ${version} ${platform} ${buildtype} downloads`
  head
    title= title
    style(type='text/css') body { font-family: monospace; }
    style(type='text/css') a.row32bit { color: green; font-style: oblique; }
  body
    h1= title
    if buildtype == 'ci' || buildtype.includes('experimental')
      p
        | These builds are for developer testing only. Please do not use them in
        | production, and please do not report bugs.
    if buildtype == 'ci'
      p
        | These CI (continuous integration) builds are automatically deleted
        | after 14 days.
    if files.length == 0
      div
        span No files available.
    -
      var sizeFormatter = new Intl.NumberFormat('en-US',
        { maximumFractionDigits: 1, minimumFractionDigits: 1 })
    each file in files
      - var fname = file.name.split('/').pop()
      - var nbsp = '\xa0'
      - var sizeMiB = sizeFormatter.format(file.size / (1024 * 1024))
      - var dateStr = new Date(file.date).toISOString()
      - var rowclass = file.name.includes('_32bit_') ? 'row32bit' : 'rowDefault'
      div
        span
          a(class=`${rowclass}` href=`${link_prefix}${fname}`)= fname
          | #{nbsp}(#{sizeMiB} MiB)#{nbsp}#{dateStr}
